body {
  margin: 0 auto;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: #b0c4cf;
  max-width: 1080px;
  font-family: "Bree Serif", serif;
}

h1 {
  text-align: center;
  color: #dbe4e9;
  text-shadow: 0 1px 0 #489cc1;
}

h2 {
  padding-bottom: 0.5em;
  text-align: center;
  color: #4c3f4a;
  text-shadow: 0 1px 0 #dbe4e9;
}

h3 {
  padding: 0 0 1em 0;
  margin: 0;
  border-bottom: 1px solid black;
  text-shadow: 0 2px 0 white;

}

input {
  width: 3.5em;
}

.add,
.sub,
.reset {
  height: 24px;
  background: none;
  font-size: 18px;
  border: 0 solid;
  border-radius: 5px;
  margin: 0.5em;
  background-color: #b5c99c;
  box-shadow: inset 0 0 10px #4c3f4a;
  color: #4c3f4a;
  padding-bottom: 1.5em;
  text-align: center;
  vertical-align: middle;
  text-shadow: 0 1px 0 #dbe4e9;
}

.reset {
  width: 96px;
  margin-right: 5em;
  float: right;
}

header {
  background: #35598d;
  padding: 1.5em 0;
  margin: 1em 1em 1.5em 1em;
  border-top: solid 1em #36393e;
  box-shadow: inset 0 0 10px #4c3f4a;
  border-radius: 10px;
}

footer {
  background: #35598d;
  border-bottom: solid 1em #36393e;
  padding: 5em 0;
  margin: 1.5em 1em 0 1em;
  box-shadow: inset 0 0 10px #4c3f4a;
  border-radius: 10px;
}

table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 1.5em;
}

td {
  background: #dbe4e9;
}

.bar {
  background-color: #b5c99c;
  padding: 1px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #4c3f4a;
  margin: 0 5em;
}

.input {
  text-align: center;
}

.top,
.bottom {
  margin: 15px auto;
  width: 90%;
}

.data {
  padding: 0;
}

.buttons {
  margin: 15em 0 -15em 0;
}

.col-xs-6 {
  padding: 0;
}

td {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 10px 30px black;
}

form {
  margin: 3em auto;
}

.espacio {
  margin-top: -9em;
  padding-bottom: 1.5em;
}

.space {
  margin-top: 6em;
  padding-bottom: 5em;
}

.izquierda {
  text-align: right;
  padding: 0.5em 1em 0.5em 0;
  margin: 3px 0 0 0;
}

.derecha {
  text-align: left;
  padding: 0.5em 0 0.5em 1em;
}

.symbolinput {
  border: 1px inset #dbe4e9;
  background: white;

}

.symbolinput input {
  border: 0;
}

.detail {
  width: 3.9em;
  text-align: center;
}

.adjust {
  text-align: right;
}

.normal {
  width: 4.5em;
  text-align: center;
}
