<div class="unit">
    <div class="panel panel-primary">
        <div class="panel-heading center"><h4>Enter the Meal Details</h4></div>
        <div class="panel-body">
            <div class="row">
                <p>Nam putant legendos ex, eos facete melius platonem ei. Est te doctus nonumes persequeris, ei qui vidit vitae vituperatoribus. Ad sint errem praesent pro, ius ad tacimates deterruisset, vis nihil dolorem voluptatibus in. His cu vocent nominati intellegebat. Cum ridens singulis sententiae eu.</p>
                <p>Ne habeo admodum assentior eos, an elitr eleifend senserit vel. Sonet eirmod ne sed. Tollit temporibus at est, nam in iriure eleifend. Mea ex saepe doctus, ubique epicurei te ius. Sed dicam partem copiosae ad.</p>
            </div>
        </div>
        <div class="panel-footer button"></div>
    </div>
</div>
