<div class="unit">
    <div class="panel panel-primary">
        <div class="panel-heading center"><h4>Enter the Meal Details</h4></div>
        <div class="panel-body">
            <form name="waitForm" novildate ng-submit="values(1)" class="button">
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <h5>Base Meal Price:</h5>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" ng-model="base" class="form-control align" step="1" min="0" placeholder="0.00" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <h5>Tax Rate:</h5>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="input-group">
                            <input ng-model="tax" class="form-control percent" type="number" step="0.5" min="0" max="9.5" placeholder="0" required>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <h5>Tip Percentage:</h5>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="input-group">
                            <input ng-model="tip" class="form-control percent" type="number" step="5" min="0" max="30" placeholder="0" required>
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer button">
            <button type="reset" name="waitForm" class="btn add" ng-click="values(1)">Submit</button>
            <button type="reset" name="waitForm" class="btn sub" ng-click="reset()">Cancel</button>
        </div>
    </div>
</div>
<div class="unit">
    <div class="panel panel-primary">
        <div class="panel-heading center"><h4>Customer Charges</h4></div>
        <div class="panel-body">
            <form name="waitAppForm">
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <h5>Subtotal:</h5>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control align" placeholder="0.00" value="{{ subtotal | currency }}" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xs-6">
                        <h5>Tip:</h5>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input class="form-control align" placeholder="0.00" value="{{ gratuity | currency }}" readonly>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-lg-6 col-xs-6">
                    <h5>Total:</h5>
                </div>
                <div class="col-lg-6 col-xs-6">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control align" placeholder="0.00" value="{{ total | currency }}" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
