<!DOCTYPE html>
<html lang="en" ng-app="waitApp">
<head>
    <meta charset="UTF-8">
    <title>Waitstaff Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>Waitstaff Calculator</h1>
    </header>
    <div class="container-fluid">
        <div class="input row" ng-controller="waitCtrl">
            <div class="nav bar">
                <h4 class="col-md-4 col-xs-6 col-sm-4">{{date | date:"EEEE"}}</h4>
                <h4 class="col-md-4 col-xs-6 col-sm-4">{{date | date:"MMM d, y"}}</h4>
                <h4 class="col-md-4 col-xs-6 col-sm-4">{{date | date:"h:mm a"}}</h4>
            </div>
            <form name="waitAppForm" novalidate>
            <table cellspacing="10">
                <tbody>
                    <tr>
                        <td rowspan="2" class="col-xs-6">
                            <h3 class="espacio">Enter the Meal Details</h3>
                            <div ng-form="waitForm" name="waitForm" novildate ng-submit="values(1)" class="space">
                                <label for="base" class="col-xs-6 izquierda">
                                    <h4>Base Meal Price:</h4>
                                </label>
                                <label for="base" class="col-xs-6 derecha">
                                    <h4><span class="symbolinput">$<input name="app" ng-model="base" class="detail" type="number" step="1" min="0" placeholder="9.99" required></span></h4>
                                </label>
                                <label for="tax" class="col-xs-6 izquierda">
                                    <h4>Tax Rate:</h4>
                                </label><label for="tax" class="col-xs-6 derecha">
                                    <h4><span class="symbolinput"><input name="app" ng-model="tax" class="adjust" type="number" step="0.5" min="0" max="9.5" placeholder="6" required>%</span></h4>
                                </label>
                                <label for="tip" class="col-xs-6 izquierda">
                                    <h4>Tip Percentage:</h4>
                                </label><label for="tip" class="col-xs-6 derecha">
                                    <h4><span class="symbolinput"><input name="app" ng-model="tip" class="adjust" type="number" step="5" min="0" max="30" placeholder="20" required>%</span></h4>
                                </label>
                                <div class="buttons">
                                    <button type="reset" name="waitForm" class="add" ng-click="values(1)">Submit</button>
                                    <button type="reset" name="waitForm" class="sub" ng-click="reset()">Cancel</button>
                                </div>
                            </div>
                        </td>
                        <div class="container-fluid data">
                            <td class="top row col-xs-6">
                                <h3>Customer Charges</h3>
                                <div ng-form="waitAppForm">
                                    <label for="total" class="col-xs-6 izquierda">
                                        <h4>Subtotal:</h4>
                                    </label>
                                    <label for="total" class="col-xs-6 derecha">
                                        <h4><span class="symbolinput">${{ subtotal | currency }}</span></h4>
                                    </label>
                                    <label for="subtip" class="col-xs-6 izquierda">
                                        <h4>Tip:</h4>
                                    </label>
                                    <label for="subtip" class="col-xs-6 derecha">
                                        <h4><span class="symbolinput">${{ gratuity | currency }}</span></h4>
                                    </label>
                                    <label class="line">
                                        <label for="final" class="col-xs-6 izquierda">
                                            <h4>Total:</h4>
                                        </label>
                                        <label for="final" class="col-xs-6 derecha">
                                            <h4><span class="symbolinput">${{ total | currency }}</span></h4>
                                        </label>
                                    </label>
                                </div>
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <td class="bottom row">
                            <h3>My Earnings Info</h3>
                            <div ng-form="waitAppForm">
                                <label for="tiptotal" class="col-xs-6 izquierda">
                                    <h4>Tip Total:</h4>
                                </label>
                                <label for="tiptotal" class="col-xs-6 derecha">
                                    <h4><span class="symbolinput">${{ tiptotal | currency }}</span></h4>
                                </label>
                                <label for="meals" class="col-xs-6 izquierda">
                                    <h4>Meal Count:</h4>
                                </label>
                                <label for="meals" class="col-xs-6 derecha">
                                    <h4><span class="normal">{{ counter }}</span></h4>
                                </label>
                                <label for="average" class="col-xs-6 izquierda">
                                    <h4>Average Tip Per Meal:</h4>
                                </label>
                                <label for="average" class="col-xs-6 derecha">
                                    <h4><span class="symbolinput">${{ average | currency }}</span></h4>
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/><button type="reset" name="waitAppForm" class="reset" ng-click="resetAll()">Reset</button>
            </form>
        </div>
    </div>
    <footer>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="js/waitstaff.js"></script>
  </div>
</body>
</html>
