body,
html {
  background: #b0c4cf;
  border: none;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}
h4 {
  font-size: 20px !important;
}
.lead {
  font-size: 18px;
  font-weight: 400;
}
.lead.form-control {
  font-size: 16px;
  font-weight: 450;
}
h4,
.align,
.button,
.not-found {
  text-align: center;
}
.add,
.reset,
.sub {
  background: #b5c99c;
  border: 1px solid #4c3f4a;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #4c3f4a, 0 10px 30px #36393e;
  color: #4c3f4a;
  height: 24px;
  margin: 0.5em;
  padding-bottom: 1.65em;
  text-align: center;
  text-shadow: 0 1px 0 #dbe4e9;
  vertical-align: middle;
}
.header,
.footer {
  background: #35598d;
  border-color: #35598d;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #4c3f4a, 0 10px 30px #36393e;
  text-align: center;
}
h5,
.percent {
  text-align: right;
  font-weight: 500 !important;
}
.bar {
  background: #b5c99c;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #4c3f4a, 0 10px 30px #36393e;
  margin: 0 auto;
  padding: 1px;
  text-align: center;
  width: 80%;
}
.unit {
  border: 2px solid #35598d;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #4c3f4a, 0 10px 30px #36393e;
  margin: 0 auto 2em;
  text-align: center;
  width: 70%;
}
h1 {
  color: #dbe4e9;
  text-align: center;
  text-shadow: 0 1px 0 #489cc1;
}
.bar h4 {
  color: #4c3f4a;
  padding: 0;
  text-shadow: 0 1px 0 #dbe4e9;
}
.header {
  border-top: 1em solid #36393e;
  margin: 2em 1em 1.5em 1em;
  padding: 1.5em 0;
}
.footer {
  border-bottom: 1em solid #36393e;
  margin: 1.5em 1em 2em 1em;
  padding: 5em 0;
}
.home {
  background: transparent;
  border: 0;
}
.error {
  color: #ff0000;
  font-weight: bold;
}
.row h5 {
  padding: 7px 0;
  margin: 0;
}
.panel-primary > .panel-heading {
  background: #35598d;
  border-color: #35598d;
}
.reset {
  width: 96px;
}
.input-group {
  width: 50%;
}
.input-group .overlay {
  position: absolute;
}
.align:focus + .overlay {
  display: none;
}
.animate-view-container {
  min-height: 100%;
  position: relative;
}
.animate-view.ng-enter,
.animate-view.ng-leave {
  background: #eeeeee;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 250ms linear all;
}
.animate-view.ng-enter {
  opacity: 0;
  z-index: 100;
}
.animate-view.ng-enter.ng-enter-active {
  opacity: 1;
}
.animate-view.ng-leave {
  opacity: 1;
  z-index: 99;
}
.animate-view.ng-leave.ng-leave-active {
  opacity: 0;
}
.animate-view.row {
  margin: 0 auto;
}
.nav-pills {
  float: none;
  padding: 0;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}
.nav-pills > li {
  float: none;
}
.nav > li {
  display: inline-block;
}
.nav > li > a {
  color: #dbe4e9;
  text-shadow: 0 1px 0 #489cc1;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background: #dbe4e9;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #489cc1, 0 10px 30px #489cc1;
  color: #489cc1;
  text-shadow: 0 1px 0 #35598d;
}
.meal {
  padding: 0;
}
.left-title {
  width: 45%:
}
@media (max-width: 543px) {
  .bar {
    display: none;
  }
  .nav > h4 {
    padding-right: 0;
  }
  .nav > li {
    display: block;
  }
  .nav > li > a {
    padding: 5px 10px;
  }
  .left-detail {
    padding-left: 10px;
    padding-right: 10px;
  }
  .unit {
    width: 90%;
  }
  .input-group {
    width: 100%;
  }
  .left-title {
    width: 40%;
  }
}
@media (min-width: 544px) and (max-width: 767px) {
  .main {
    margin: 1em auto;
  }
  ul {
    background: transparent;
  }
  .bar {
    margin: 1em auto;
    padding: 0.25em;
    width: 85%;
  }
  .nav > h4 {
    width: 33%;
  }
  .unit {
    width: 80%;
  }
  .input-group {
    width: 80%;
  }
  .left-title {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main {
    margin: 3em auto;
  }
  .bar {
    margin: 1em auto;
    padding: 0.5em;
    width: 85%;
  }
  .nav-pills > li {
    width: 25%;
  }
  .unit {
    width: 70%;
  }
  .input-group {
    width: 60%;
  }
  .left-title {
    width: 45%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main {
    margin: 4.75em auto;
  }
  .nav-pills > li {
    padding: 0 1.5em;
    width: 25%;
  }
  .bar {
    margin: 2em auto;
    padding: 0.75em;
  }
  .unit {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  body,
  html {
    max-width: 98%;
  }
  .main {
    margin: 5em auto;
  }
  .nav-pills > li {
    padding: 0 1.5em;
    width: 25%;
  }
  .bar {
    margin: 3em auto;
    padding: 1em;
  }
  .animate-view {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
  }
  .meal {
    padding: 0 1em;
  }
  .unit {
    width: 60%;
  }
  .meal > .unit {
    width: 100%;
  }
  .input-group {
    width: 80%;
  }
}
