body,
html {
  background: #b0c4cf;
  border: none;
  height: 100%;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}
h4 {
  font-size: 20px !important;
}
.lead {
  font-size: 18px;
  font-weight: 400;
}
.lead.form-control {
  font-size: 16px;
  font-weight: 450;
}
h4,
.align,
.button,
.not-found {
  text-align: center;
}
.add,
.reset,
.sub {
  background: #b5c99c;
  border: 1px solid #4c3f4a;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #4c3f4a, 0 10px 30px #36393e;
  color: #4c3f4a;
  // font-size: 18px;
  height: 24px;
  margin: 0.5em;
  padding-bottom: 1.65em;
  text-align: center;
  text-shadow: 0 1px 0 #dbe4e9;
  vertical-align: middle;
}
.header,
.footer {
  background: #35598d;
  border-color: #35598d;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #4c3f4a, 0 10px 30px #36393e;
  text-align: center;
}
h5,
.percent {
  text-align: right;
  font-weight: 500 !important;
}
.bar {
  background: #b5c99c;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #4c3f4a, 0 10px 30px #36393e;
  margin: 0 auto;
  padding: 1px;
  text-align: center;
  width: 80%;
}
.unit {
  border: 2px solid #35598d;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #4c3f4a, 0 10px 30px #36393e;
  margin: 2em auto;
  text-align: center;
  width: 70%;
}
h1 {
  color: #dbe4e9;
  text-align: center;
  text-shadow: 0 1px 0 #489cc1;
}
.bar h4 {
  color: #4c3f4a;
  padding: 0;
  text-shadow: 0 1px 0 #dbe4e9;
}
.header {
  border-top: 1em solid #36393e;
  margin: 2em 1em 1.5em 1em;
  padding: 1.5em 0;
}
.footer {
  border-bottom: 1em solid #36393e;
  margin: 1.5em 1em 2em 1em;
  padding: 5em 0;
}
.error {
  color: #ff0000;
  font-weight: bold;
}
.row {
  margin: 1em 0;
}
.row h5 {
  padding: 7px 0;
  margin: 0;
}
.panel-primary > .panel-heading {
  background: #35598d;
  border-color: #35598d;
}
.reset {
  width: 96px;
}
.input-group {
  width: 50%;
}
.input-group .overlay {
  position: absolute;
}
.align:focus + .overlay {
  display: none;
}
.animate-view-container {
  min-height: 100%;
  position: relative;
}
.animate-view.ng-enter,
.animate-view.ng-leave {
  background: #eeeeee;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 250ms linear all;
}
.animate-view.ng-enter {
  opacity: 0;
  z-index: 100;
}
.animate-view.ng-enter.ng-enter-active {
  opacity: 1;
}
.animate-view.ng-leave {
  opacity: 1;
  z-index: 99;
}
.animate-view.ng-leave.ng-leave-active {
  opacity: 0;
}
.nav-pills {
  float: none;
  padding: 0;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}
.nav-pills > li {
  float: none;
}
.nav > li {
  display: inline-block;
}
.nav > li > a {
  color: #dbe4e9;
  // font-size: 1.25em;
  text-shadow: 0 1px 0 #489cc1;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background: #dbe4e9;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #489cc1, 0 10px 30px #489cc1;
  color: #489cc1;
  text-shadow: 0 1px 0 #35598d;
}